
.case {
  display: grid;
  background-color:#eee;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 600px));
  justify-content: center;
}

@media screen and (max-width:650px) {
  .case {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.case__info {
  display: grid;
  grid-template-columns: auto-fit;
  grid-template-areas:
  "case-title"
  "case-desc";
}

.case-info-1 {
  display: grid;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-left: 13%;
  padding-right: 13%;
}

.case-info-2 img {
  width: 100%;
}

.case-info-2 {
  background-color: white;
  width: 100%;
}

.case__title {
  grid-area: case-title;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.case__desc {
  display: grid;
  grid-area: case-desc;
  line-height: 1.90rem;
  font-weight: 300;
  align-content: center;
}
